// colors
$skyBlue: #2699fb;
$white: #fff;
$gray: #7f7f7f;
$lightBlue: #bce0fd;
$veryLightBlue: #f1f9ff;
$lightGray: #d6d6d6;
// type
$monserrat: "Monserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$largeParaType: Georgia, "Times New Roman", Times, serif;
$Arial: Arial, Helvetica, sans-serif;
// size
$largeParaSize: 40px;
$mediumText: 0.75em;
$verySmallText: 0.65em;
$mediumLineHeight: 2em;
$gridMin: 1024px;
$gridMax: 1366px;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $monserrat;
}

.container {
  width: 100%;
  background-color: $white;
  nav {
    background-color: $skyBlue;
    height: 94px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 $mediumLineHeight;
    section {
      color: $white;
    }
    #menu {
      width: 40px;
      height: 30px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: auto;
      cursor: pointer;
      .menu-span {
        height: 0.25em;
        background-color: $white;
        width: 100%;
      }
    }
    #desktop-nav {
      display: none;
      color: $white;
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: inherit;
          text-transform: uppercase;
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .show {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mobile-nav {
    height: calc(100vh - 94px);
    background-color: $skyBlue;
    // display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    #mobile-nav-ul {
      margin-top: -15em;
      height: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;

      li {
        color: $white;
        list-style: none;
        a {
          text-decoration: none;
          color: inherit;
          text-transform: uppercase;
        }
      }
    }
  }
  #section1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 1em;
    div {
      width: 100%;
    }
    #section1-div1 {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      img {
        margin-left: 1em;
        width: 100%;
      }
    }
    #section1-div2 {
      margin-bottom: 1.5em;
      h6 {
        color: $gray;
        font-family: $Arial;
        font-size: 20px;
        margin: 1em 0 1em 0;
      }
      h1 {
        font-family: $largeParaType;
        font-weight: 100;
        color: $skyBlue;
        font-size: 2.5em;
        margin-bottom: 1em;
      }
      button {
        background: none;
        color: $skyBlue;
        border: 2px solid $lightBlue;
        font-family: $Arial;
        padding: 1.5em 3em;
        border-radius: 0.5em;
      }
    }
  }
  #section2 {
    #section2-child {
      background-color: $veryLightBlue;
      #section-left {
        padding: 2em;
        h1 {
          font-family: $largeParaType;
          font-weight: 100;
          color: $skyBlue;
          font-size: 2.5em;
          margin-bottom: 1em;
        }
        p {
          font-family: $Arial;
          font-size: 1em;
          line-height: 2em;
          color: $skyBlue;
        }
      }
      #section-right {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        img {
          padding: 0.5em 1em;
        }
      }
    }
  }
  #cards {
    .section3 {
      width: 100%;
      padding: 0.5em 1.5em;
      .section3-sections {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        img {
          margin-right: 0.5em;
        }
        h3 {
          font-family: $Arial;
          color: $skyBlue;
          font-size: 0.5em;
        }
        span {
          margin-left: auto;
          font-family: $Arial;
          color: $lightGray;
          font-size: 0.5em;
        }
      }
      p {
        margin-top: 2em;
        color: $lightGray;
        font-family: $Arial;
        font-size: 0.75em;
        line-height: 1.5em;
      }
      img.profiles {
        margin-top: 2em;
        width: 100%;
      }
      .footer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2em;
        h3 {
          margin-left: auto;
          color: $skyBlue;
          font-family: $Arial;
          font-size: 0.75em;
        }
      }
    }
  }
  #section-five {
    background: $veryLightBlue;
    padding: 1.5 em 1em;
    #section-five-div {
      background: $white;
      padding: 1em;
      h1 {
        font-family: $largeParaType;
        font-size: $largeParaSize;
        color: $gray;
        margin-bottom: 0.5em;
      }
      p#section-five-div-p1 {
        color: $gray;
        font-size: 1.75em;
        font-weight: lighter;
        margin-bottom: 1.25em;
      }
      p {
        font-size: $verySmallText;
        color: $skyBlue;
        line-height: $mediumLineHeight;
      }
      #section-five-div-p2 {
        margin-bottom: 1.5em;
        font-size: 1em;
      }
      #section-five-div-div {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .section-five-div-div-section {
          width: 70%;
          height: 140px;
          background-color: $veryLightBlue;
          margin: 0.25em 0;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: space-evenly;
          -moz-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          p:first-child {
            font-weight: bold;
            font-size: 1.15em;
            font-family: $roboto;
            span {
              font-weight: normal;
              font-size: 0.75em;
              display: block;
            }
          }
          p:last-child {
            #Path_1,
            #Path_2,
            #Path_3 {
              stroke: $skyBlue;
              fill: $white;
              stroke-width: 2px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
          }
        }
      }
    }
  }
  #footer {
    background: $skyBlue;
    padding: 1.5em 1em;
    color: $white;
    h1 {
      font-size: 1.17em;
    }
    p {
      text-align: center;
    }
    form {
      border: 1px solid $white;
      margin: 0.5em auto 2em auto;
      height: 50px;
      width: 90%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 0.25em;
      input {
        border: none;
        background: transparent;
        width: 75%;
        height: 100%;
      }
      button {
        color: $skyBlue;
        background: $white;
        padding: 0 2em;
        border: none;
        height: 100%;
        width: 25%;
        border-top-right-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
      }
    }
    section {
      margin: 1.25em 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      ul {
        list-style: none;
        line-height: 1.5em;
      }
      ul:first-child {
        width: 70%;
      }
      ul:last-child {
        width: 30%;
      }
    }
    address {
      font-style: normal;
      line-height: 1.5em;
    }
    #footer-copy {
      font-size: $verySmallText;
      display: inline-block;
      margin-top: 2em;
    }
  }
}

@media screen and (min-width: $gridMin) {
  .container {
    height: 100vh;
    nav {
      #menu {
        display: none;
      }
      #desktop-nav {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: auto;
        li {
          padding: 0.5em;
        }
      }
    }
    #mobile-nav {
      display: none;
    }
    // section#section1 {
    //     padding: 3em;
    //     width: 70%;
    //     display: flex;
    //     justify-content: center;
    // }
  }
}

@media screen and (min-width: 600px) and (max-width: 1366px) {
  section#section1 {
    width: 70%;
    margin: 0 auto;
  }
  section#section-left {
    width: 80%;
    margin: 0 auto;
  }
  .container section#section2 section#section2-child section#section-right {
    padding: 0;
    margin: 0 auto;
    // min-width: $gridMin;
    // max-width: $gridMax;
    // min-height: $gridMin;
    // max-height: $gridMax;
    width: 100%;
    height: 100%;
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0px;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven seven six";
    img {
      padding: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    img:nth-child(1) {
      grid-area: one;
    }
    img:nth-child(2) {
      grid-area: two;
    }
    img:nth-child(3) {
      grid-area: three;
    }
    img:nth-child(4) {
      grid-area: four;
    }
    img:nth-child(5) {
      grid-area: five;
    }
    img:nth-child(6) {
      grid-area: six;
    }
    img:nth-child(7) {
      grid-area: seven;
    }
  }
  section#cards {
    width: 90%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  div#section-five-div {
    p {
      width: 60%;
    }
  }
  .container
    section#section-five
    div#section-five-div
    div#section-five-div-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    .section-five-div-div-section {
      padding: 1em;
    }
    .section-five-div-div-section:nth-child(2) {
      margin: 0 1em;
    }
  }
  .container footer#footer {
    form {
      width: 60%;
      margin-top: 1em;
    }
    section {
      width: 60%;
      margin: 0 auto;
      ul {
        width: 50%;
      }
      ul:last-child {
        margin-left: 10em;
      }
    }
    address {
      text-align: center;
      margin-top: 1.5em;
    }
    span#footer-copy {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1366px) {
  .container {
    section#section1 {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      // justify-content: center;
      margin-top: 2em;

      div#section1-div1 {
        width: 50%;
        margin-right: 2em;
        margin-left: 2em;
        img {
          width: 500px;
          height: 600px;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      div#section1-div2 {
        width: 50%;
        margin-right: 2em;
        margin-left: 2em;
      }
    }
    section#section2 {
      width: 100%;
      height: 900px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: space-between;
      margin-top: 3em;
      margin-bottom: 3em;
      section#section2-child {
        // margin-bottom: 3em;
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        overflow: hidden;
        #section-left {
          width: calc(100vw - 900px);
          height: 900px;
        }
        #section-right {
          width: 900px;
          height: 900px;
          // max-height: 777px;
          // height: 70%;
          // height: auto;

          display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          row-gap: 0;
          gap: 0;
          grid-template-areas:
            "one two three"
            "four five six"
            "seven seven six";
          img {
            padding: 0;
            width: 100%;
            height: 100%;
            height: auto;
          }
          img:nth-child(1) {
            grid-area: one;
          }
          img:nth-child(2) {
            grid-area: two;
          }
          img:nth-child(3) {
            grid-area: three;
          }
          img:nth-child(4) {
            grid-area: four;
          }
          img:nth-child(5) {
            grid-area: five;
          }
          img:nth-child(6) {
            grid-area: six;
          }
          img:nth-child(7) {
            grid-area: seven;
          }
        }
      }
    }
    section#cards {
      width: 90%;
      display: grid;
      margin: 0 auto;
      // grid-template-columns: 25% 25% 25% 25%;
      grid-template-columns: repeat(4, 1fr);

      margin-top: 3em;
      .section3 {
        margin-top: 2em;
      }
    }
    section#section-five {
      background-color: $veryLightBlue;
      padding: 8em 0;
      div#section-five-div {
        -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
                box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 3fr 2fr;

        #section-five-div-one {
          padding: 4em;
          h1 {
            margin: 0;
          }
        }
        #section-five-div-div {
          height: 100%;
          .section-five-div-div-section {
            height: 33.33%;
            margin: 0;
            width: 100%;
          }
        }
      }
    }

  }
}
