* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}

.container {
  width: 100%;
  background-color: #fff;
}
.container nav {
  background-color: #2699fb;
  height: 94px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
}
.container nav section {
  color: #fff;
}
.container nav #menu {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  cursor: pointer;
}
.container nav #menu .menu-span {
  height: 0.25em;
  background-color: #fff;
  width: 100%;
}
.container nav #desktop-nav {
  display: none;
  color: #fff;
  list-style: none;
}
.container nav #desktop-nav li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.container .hide {
  display: none;
}
.container .show {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.container #mobile-nav {
  height: calc(100vh - 94px);
  background-color: #2699fb;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container #mobile-nav #mobile-nav-ul {
  margin-top: -15em;
  height: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.container #mobile-nav #mobile-nav-ul li {
  color: #fff;
  list-style: none;
}
.container #mobile-nav #mobile-nav-ul li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.container #section1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding: 1em;
}
.container #section1 div {
  width: 100%;
}
.container #section1 #section1-div1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container #section1 #section1-div1 img {
  margin-left: 1em;
  width: 100%;
}
.container #section1 #section1-div2 {
  margin-bottom: 1.5em;
}
.container #section1 #section1-div2 h6 {
  color: #7f7f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 1em 0 1em 0;
}
.container #section1 #section1-div2 h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: #2699fb;
  font-size: 2.5em;
  margin-bottom: 1em;
}
.container #section1 #section1-div2 button {
  background: none;
  color: #2699fb;
  border: 2px solid #bce0fd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5em 3em;
  border-radius: 0.5em;
}
.container #section2 #section2-child {
  background-color: #f1f9ff;
}
.container #section2 #section2-child #section-left {
  padding: 2em;
}
.container #section2 #section2-child #section-left h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: #2699fb;
  font-size: 2.5em;
  margin-bottom: 1em;
}
.container #section2 #section2-child #section-left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 2em;
  color: #2699fb;
}
.container #section2 #section2-child #section-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container #section2 #section2-child #section-right img {
  padding: 0.5em 1em;
}
.container #cards .section3 {
  width: 100%;
  padding: 0.5em 1.5em;
}
.container #cards .section3 .section3-sections {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container #cards .section3 .section3-sections img {
  margin-right: 0.5em;
}
.container #cards .section3 .section3-sections h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #2699fb;
  font-size: 0.5em;
}
.container #cards .section3 .section3-sections span {
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #d6d6d6;
  font-size: 0.5em;
}
.container #cards .section3 p {
  margin-top: 2em;
  color: #d6d6d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
}
.container #cards .section3 img.profiles {
  margin-top: 2em;
  width: 100%;
}
.container #cards .section3 .footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}
.container #cards .section3 .footer h3 {
  margin-left: auto;
  color: #2699fb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
}
.container #section-five {
  background: #f1f9ff;
  padding: 1.5 em 1em;
}
.container #section-five #section-five-div {
  background: #fff;
  padding: 1em;
}
.container #section-five #section-five-div h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  color: #7f7f7f;
  margin-bottom: 0.5em;
}
.container #section-five #section-five-div p#section-five-div-p1 {
  color: #7f7f7f;
  font-size: 1.75em;
  font-weight: lighter;
  margin-bottom: 1.25em;
}
.container #section-five #section-five-div p {
  font-size: 0.65em;
  color: #2699fb;
  line-height: 2em;
}
.container #section-five #section-five-div #section-five-div-p2 {
  margin-bottom: 1.5em;
  font-size: 1em;
}
.container #section-five #section-five-div #section-five-div-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container #section-five #section-five-div #section-five-div-div .section-five-div-div-section {
  width: 70%;
  height: 140px;
  background-color: #f1f9ff;
  margin: 0.25em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.container #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:first-child {
  font-weight: bold;
  font-size: 1.15em;
  font-family: "Roboto", sans-serif;
}
.container #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:first-child span {
  font-weight: normal;
  font-size: 0.75em;
  display: block;
}
.container #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:last-child #Path_1,
.container #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:last-child #Path_2,
.container #section-five #section-five-div #section-five-div-div .section-five-div-div-section p:last-child #Path_3 {
  stroke: #2699fb;
  fill: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.container #footer {
  background: #2699fb;
  padding: 1.5em 1em;
  color: #fff;
}
.container #footer h1 {
  font-size: 1.17em;
}
.container #footer p {
  text-align: center;
}
.container #footer form {
  border: 1px solid #fff;
  margin: 0.5em auto 2em auto;
  height: 50px;
  width: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.25em;
}
.container #footer form input {
  border: none;
  background: transparent;
  width: 75%;
  height: 100%;
}
.container #footer form button {
  color: #2699fb;
  background: #fff;
  padding: 0 2em;
  border: none;
  height: 100%;
  width: 25%;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.container #footer section {
  margin: 1.25em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container #footer section ul {
  list-style: none;
  line-height: 1.5em;
}
.container #footer section ul:first-child {
  width: 70%;
}
.container #footer section ul:last-child {
  width: 30%;
}
.container #footer address {
  font-style: normal;
  line-height: 1.5em;
}
.container #footer #footer-copy {
  font-size: 0.65em;
  display: inline-block;
  margin-top: 2em;
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
  }
  .container nav #menu {
    display: none;
  }
  .container nav #desktop-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .container nav #desktop-nav li {
    padding: 0.5em;
  }
  .container #mobile-nav {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1366px) {
  section#section1 {
    width: 70%;
    margin: 0 auto;
  }
  section#section-left {
    width: 80%;
    margin: 0 auto;
  }
  .container section#section2 section#section2-child section#section-right {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0px;
    grid-template-areas: "one two three" "four five six" "seven seven six";
  }
  .container section#section2 section#section2-child section#section-right img {
    padding: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(1) {
    grid-area: one;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(2) {
    grid-area: two;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(3) {
    grid-area: three;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(4) {
    grid-area: four;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(5) {
    grid-area: five;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(6) {
    grid-area: six;
  }
  .container section#section2 section#section2-child section#section-right img:nth-child(7) {
    grid-area: seven;
  }
  section#cards {
    width: 90%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  div#section-five-div p {
    width: 60%;
  }
  .container section#section-five div#section-five-div div#section-five-div-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .container section#section-five div#section-five-div div#section-five-div-div .section-five-div-div-section {
    padding: 1em;
  }
  .container section#section-five div#section-five-div div#section-five-div-div .section-five-div-div-section:nth-child(2) {
    margin: 0 1em;
  }
  .container footer#footer form {
    width: 60%;
    margin-top: 1em;
  }
  .container footer#footer section {
    width: 60%;
    margin: 0 auto;
  }
  .container footer#footer section ul {
    width: 50%;
  }
  .container footer#footer section ul:last-child {
    margin-left: 10em;
  }
  .container footer#footer address {
    text-align: center;
    margin-top: 1.5em;
  }
  .container footer#footer span#footer-copy {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1366px) {
  .container section#section1 {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 2em;
  }
  .container section#section1 div#section1-div1 {
    width: 50%;
    margin-right: 2em;
    margin-left: 2em;
  }
  .container section#section1 div#section1-div1 img {
    width: 500px;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .container section#section1 div#section1-div2 {
    width: 50%;
    margin-right: 2em;
    margin-left: 2em;
  }
  .container section#section2 {
    width: 100%;
    height: 900px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .container section#section2 section#section2-child {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
  }
  .container section#section2 section#section2-child #section-left {
    width: calc(100vw - 900px);
    height: 900px;
  }
  .container section#section2 section#section2-child #section-right {
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0;
    gap: 0;
    grid-template-areas: "one two three" "four five six" "seven seven six";
  }
  .container section#section2 section#section2-child #section-right img {
    padding: 0;
    width: 100%;
    height: 100%;
    height: auto;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(1) {
    grid-area: one;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(2) {
    grid-area: two;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(3) {
    grid-area: three;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(4) {
    grid-area: four;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(5) {
    grid-area: five;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(6) {
    grid-area: six;
  }
  .container section#section2 section#section2-child #section-right img:nth-child(7) {
    grid-area: seven;
  }
  .container section#cards {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3em;
  }
  .container section#cards .section3 {
    margin-top: 2em;
  }
  .container section#section-five {
    background-color: #f1f9ff;
    padding: 8em 0;
  }
  .container section#section-five div#section-five-div {
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .container section#section-five div#section-five-div #section-five-div-one {
    padding: 4em;
  }
  .container section#section-five div#section-five-div #section-five-div-one h1 {
    margin: 0;
  }
  .container section#section-five div#section-five-div #section-five-div-div {
    height: 100%;
  }
  .container section#section-five div#section-five-div #section-five-div-div .section-five-div-div-section {
    height: 33.33%;
    margin: 0;
    width: 100%;
  }
  .container footer#footer {
    padding: 2em;
    height: 170px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 0 0 1fr;
    gap: 0;
    grid-template-areas: "AAA BBB CCC DDD EEE" "FFF BBB CCC DDD EEE" "FFF BBB CCC DDD EEE" "GGG HHH III JJJ KKK";
  }
  .container footer#footer h1 {
    grid-area: AAA;
  }
  .container footer#footer p {
    grid-area: DDD;
  }
  .container footer#footer form {
    grid-area: DDD;
    margin-top: 2em;
  }
  .container footer#footer section {
    margin: 0;
    display: flex;
  }
  .container footer#footer section ul:first-child {
    grid-area: BBB;
    width: 50%;
  }
  .container footer#footer section ul:last-child {
    grid-area: CCC;
    width: 50%;
    margin-left: 6em;
  }
  .container footer#footer address {
    grid-area: EEE;
  }
  .container footer#footer span#footer-copy {
    grid-area: GGG;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */