* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}

.container {
  width: 100%;
  background-color: #FFF;
}
.container nav {
  background-color: #2699FB;
  height: 94px;
  display: flex;
  align-items: center;
  padding: 0 2em;
}
.container nav section {
  color: #FFF;
}
.container nav #menu {
  margin-left: auto;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container nav #menu .menu-span {
  height: 0.25em;
  background-color: #FFF;
  width: 100%;
}
.container nav #desktop-nav {
  display: none;
  color: #FFF;
  list-style: none;
}
.container nav #desktop-nav li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.container .hide {
  display: none;
}
.container .show {
  display: flex;
}
.container #mobile-nav {
  transition: all 200ms linear;
  height: calc(100vh - 94px);
  background-color: #2699FB;
  justify-content: center;
  align-items: center;
}
.container #mobile-nav #mobile-nav-ul {
  margin-top: -15em;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
.container #mobile-nav #mobile-nav-ul li {
  color: #FFF;
}
.container #mobile-nav #mobile-nav-ul li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.container #section1 {
  display: flex;
  flex-direction: column-reverse;
  padding: 1em;
}
.container #section1 div {
  width: 100%;
}
.container #section1 #section1-div1 {
  display: flex;
  justify-content: center;
}
.container #section1 #section1-div1 img {
  margin-left: 1em;
  width: 100%;
}
.container #section1 #section1-div2 {
  margin-bottom: 1.5em;
}
.container #section1 #section1-div2 h6 {
  color: #7f7f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 1em 0 1em 0;
}
.container #section1 #section1-div2 h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: #2699FB;
  font-size: 2.5em;
  margin-bottom: 1em;
}
.container #section1 #section1-div2 button {
  background: none;
  color: #2699FB;
  border: 1px solid #bce0fd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5em 3em;
  border-radius: 0.5em;
}
.container #section2 #section2-child #section-left {
  background-color: #f1f9ff;
  padding: 2em;
}
.container #section2 #section2-child #section-left h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: #2699FB;
  font-size: 2.5em;
  margin-bottom: 1em;
}
.container #section2 #section2-child #section-left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 2em;
  color: #2699FB;
}
.container #section2 #section2-child #section-right {
  display: flex;
  flex-direction: column;
}
.container #section2 #section2-child #section-right img {
  padding: 0.5em 1em;
}
.container #cards .section3 {
  width: 100%;
  padding: 0.5em 1.5em;
}
.container #cards .section3 .section3-sections {
  display: flex;
  align-items: center;
}
.container #cards .section3 .section3-sections img {
  margin-right: 0.5em;
}
.container #cards .section3 .section3-sections h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #2699FB;
  font-size: 0.5em;
}
.container #cards .section3 .section3-sections span {
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #7f7f7f;
  font-size: 0.5em;
}
.container #cards .section3 p {
  margin-top: 2em;
  color: #d6d6d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
}
.container #cards .section3 img.profiles {
  margin-top: 2em;
  width: 100%;
}
.container #cards .section3 .footer {
  display: flex;
  margin-top: 2em;
}
.container #cards .section3 .footer h3 {
  margin-left: auto;
  color: #2699FB;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
  }
  .container nav #menu {
    display: none;
  }
  .container nav #desktop-nav {
    display: flex;
    margin-left: auto;
  }
  .container nav #desktop-nav li {
    padding: 0.5em;
  }
  .container #mobile-nav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */