* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 24px;
}
#container {
  width: 100%;
  height: 100vh;
  // display: flex;
  // flex-wrap: wrap;
  // align-content:flex-start;
  font-size: 16px;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // align-items: stretch;
  nav {
    height: 80px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    h1 {
      color: #fff;
    }
    ul#navigation {
      margin-left: auto;
      list-style: none;
      display: flex;
      li.nav-links {
        color: #fff;
      }
      .nav-links {
        font-family: "Roboto", system-ui;
        font-weight: 300;
        font-style: normal;
        padding: 0.25rem;
      }
    }
  }

  main { 
display: flex;
flex-wrap: wrap;
 align-content:flex-start;
    section {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        margin: 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
      }
      .roboto-black {
        font-family: "Roboto", system-ui;
        font-weight: 900;
        font-style: normal;
      }
  }
}
